.stb-component-checkbox {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    width: 39px;
    height: 39px;
    line-height: 39px;
    border: 2px solid #888;
    background-color: #bbb;
    vertical-align: bottom;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .stb-component-checkbox.hidden {
        display: none; }
    .stb-component-checkbox.grouped {
        border-radius: 21.5px; }
    .stb-component-checkbox.checked {
        background-color: orange; }
    .stb-component-checkbox.focus {
        outline: 1px dashed red; }
